body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(31, 31, 34);
    color: white;
    display: flex;
    justify-content: center;   
    align-items: center;       
}


.navbar {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.authBox {
    border: solid rgb(84, 84, 84) 2px;
    width: 450px;
    min-height: 500px;
    
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 25px;

    border-radius: 12px;
}

.authTop {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.authTop button {
    background-color: rgb(31, 31, 34);
    color: white;
    border: solid rgb(84, 84, 84) 2px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}



.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    width: 100%;
}


.auth input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: solid rgb(84, 84, 84) 2px;
    background: rgb(31, 31, 34);
    color: white;
    outline: none;
}



.auth button {
    justify-content: center;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(90, 209, 209);
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.auth button:hover {
    transform: scale(1.02);
}
