body{
    margin: 0;
    background-color: rgb(31, 31, 34);
    color: white;
}


.navbar{
    display: flex;
    border: solid white 2px;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    display: flex;
    color: aqua;
    transform: scale(1.2);
}

.tittle{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 10px;
}

.emne{
    display: flex;
    width: 200px;
}

.kontakt{
    display: flex;
    flex-direction: column;  
    align-items: center;      
    justify-content: center;  
    gap: 10px;
    width: 100%;
}


.katogory{
    display: flex;
    width: 100px;
}

.beskrive{
    display: flex;
    width: 400px;
    height: 200px;
}

button{
    display: flex;
    width: 100px;
    background-color: rgb(90, 209, 209);
    
}