<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login/sign up</title>
    <link rel="stylesheet" href="../static/auth.css">
</head>
<body>
    <section class="screen">
        <section class="navbar">

        </section>
        <section class="authBox">
        <div class="authTop">
            <button> login </button>
            <button> signup </button>
        </div>

        <div class="auth">
            <label for="">fornavn</label>
            <input type="text">
            <label for="">etternavn</label>
            <input type="text">
            <label for="">email</label>
            <input type="email">
            <label for="">passord</label>
            <input type="password">
        </div>

    </section>
    </section>
    
</body>
</html>

<script>
const buttons = document.querySelectorAll(".authTop button");
const authDiv = document.querySelector(".auth");

const loginHTML = `
  <form method="POST" action="/login" class="authForm">
    <label>email</label>
    <input type="email" name="email" required>

    <label>passord</label>
    <input type="password" name="password" required>

    <button type="submit">login</button>

    <label>
  <input type="checkbox" name="remember" value="yes">
  Husk meg
</label>


  </form>
`;

const signupHTML = `
  <form method="POST" action="/signup" class="authForm">
    <label>fornavn</label>
    <input type="text" name="firstname" required>

    <label>etternavn</label>
    <input type="text" name="lastname" required>

    <label>email</label>
    <input type="email" name="email" required>

    <label>passord</label>
    <input type="password" name="password" required>

    <button type="submit">register</button>
    
    <label>
  <input type="checkbox" name="remember" value="yes">
  Husk meg
</label>


  </form>
`;

function showLogin(){ authDiv.innerHTML = loginHTML; }

function showSignup(){ authDiv.innerHTML = signupHTML; }

buttons[0].addEventListener("click", showLogin);
buttons[1].addEventListener("click", showSignup);

showLogin();
</script>
