<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login/sign up</title>
    <link rel="stylesheet" href="../static/auth.css">
</head>
<body>
    <section class="screen">
        <section class="navbar">

        </section>
        <section class="authBox">
        <div class="authTop">
            <button> login </button>
            <button> signup </button>
        </div>

        <div class="auth">
            <label for="">fornavn</label>
            <input type="text">
            <label for="">etternavn</label>
            <input type="text">
            <label for="">email</label>
            <input type="email">
            <label for="">passord</label>
            <input type="password">
        </div>

    </section>
    </section>
    
</body>
</html>

<script>

const buttons = document.querySelectorAll(".authTop button");

const authDivs = document.querySelector(".auth");


const loginHTML = `
  <label>email</label>
  <input type="email" id="email">

  <label>passord</label>
  <input type="password" id="password">
  
   <button> login </button>

`;

const signupHTML = `
  <label>fornavn</label>
  <input type="text" id="firstname">

  <label>etternavn</label>
  <input type="text" id="lastname">

  <label>email</label>
  <input type="email" id="email">

  <label>passord</label>
  <input type="password" id="password">

  <button> register </button>


`;

function showLogin() {
  authDivs.innerHTML = loginHTML;
}

function showSignup() {
  authDivs.innerHTML = signupHTML;
}

// button order: [0]=login [1]=signup
buttons[0].addEventListener("click", showLogin);
buttons[1].addEventListener("click", showSignup);

// Default view
showLogin();

</script>