<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login/sign up</title>
    <link rel="stylesheet" href="../static/auth.css">
</head>
<body>
    <section class="screen">
        <section class="navbar">
            
        </section>
        <section class="authBox">
        <div class="authTop">
            <button> login </button>
            <button> signup </button>
        </div>

        <div class="auth">
            <label for="">fornavn</label>
            <input type="text">
            <label for="">etternavn</label>
            <input type="text">
            <label for="">email</label>
            <input type="email">
            <label for="">passord</label>
            <input type="password">
        </div>

    </section>
    </section>
    
</body>
</html>