<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/homepage.css">
</head>
<body>
    <section class="navbar">
        
        <a href="./homepage.html"><h2>hjem</h2></a>
        <a href=""><h2>statistikk </h2></a>
        <a href=""><h2>brukere</h2></a>
        <a href="./auth.html" target="_blank"><h2>login/signup</h2></a>

    </section>
</body>
</html>