<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kontakt</title>
    <link rel="stylesheet" href="../static/kontakt.css">
</head>
<body>
    
    <section class="navbar">
        
        <a href="./homepage.html" target="_blank"><h2>hjem</h2></a>
        <a href=""><h2> om </h2></a>
        <a href="./kontakt.html" target="_blank"><h2>kontakt</h2></a>
        <a href="./auth.html" target="_blank"><h2>login/signup</h2></a>

    </section>

    <section class="kontakt">
        <h1 class="tittle">kontakt oss om Problemet ditt</h1>
        <form method="POST" action="/kontakt">
  <label>Emne</label>
  <input class="emne" type="text" name="emne" required>

  <label>katogory</label>
  <select class="katogory" name="category" required>
    <option value="">velg</option>
    <option value="nettsiden">nettsiden</option>
    <option value="konto">konto</option>
    <option value="rapporter">rapporter</option>
  </select>

  <label>beskrive</label>
  <textarea class="beskrive" name="beskrivelse" required></textarea>

  <button type="submit">send</button>
</form>

    </section>

    <section>
            
    </section>

</body>
</html>